<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yalantis.watchface">

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.configuration.ConfigurationActivity"
            android:exported="true"
            android:label="ConfigurationWatchface">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.yalantis.watchface.CONFIG_CHRON" />

                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="com.google.android.wearable.watchface.category.COMPANION_CONFIGURATION" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ticks_options.TickSetupActivity"
            android:exported="true"
            android:label="ConfigurationWatchface">

            <intent-filter>
                <action android:name="android.intent.action.TICK_SETUP" />
                <action android:name="com.yalantis.watchface.CONFIG_CHRON" />

                <category android:name="com.google.android.wearable.watchface.category.COMPANION_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.configuration.ConfigurationAmbientActivity"
            android:exported="true"
            android:label="ConfigurationWatchface">

            <intent-filter>
                <action android:name="android.intent.action.AMBIENT" />
                <action android:name="com.yalantis.watchface.CONFIG_CHRON" />

                <category android:name="com.google.android.wearable.watchface.category.COMPANION_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>
